<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="false" android:usesCleartextTraffic="false" android:theme="@style/Theme.OpenRouterCredits" android:label="OpenRouter Credits" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <receiver android:name=".widget.CreditsWidgetReceiver" android:exported="false"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/credits_widget_info"/></receiver>
    </application>
</manifest>
